<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../css/index.css" />
    <link rel="shortcut icon" href="../fav.png" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />
    <script
      src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"
      integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js"
      integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF"
      crossorigin="anonymous"
    ></script>
    <title>Armas contra las enfermedades</title>
  </head>
  <body>
    <nav>
      <div class="logo">
        <a href="index.html"
          ><img src="../fav.png" alt="" height="60px" weight="60px"
        /></a>
      </div>
      <input type="checkbox" id="click" />
      <label for="click" class="menu-btn">
        <i class="fas fa-bars"></i>
      </label>
      <ul>
        <li><a class="" href="index.html">Home</a></li>
        <li><a href="pandemia.html">Pandemias</a></li>
        <li><a href="epidemias.html">Epidemias</a></li>
        <li>
          <a href="antibiotics.html" class="active"
            >Armas contra las enfermedades</a
          >
        </li>
        <li><a href="evolution.html">Evolucion</a></li>
      </ul>
    </nav>
    <div class="content">
      <div class="realcontent">
        <h1>Armas contra las enfermedades</h1>
        <p>
          La humanidad debido a su debilidad en el reino animal como siempre se
          la sa ingeniado por el camino de la tecnologia y esto no fue diferente
          con las enfermedades. Pues la humanidad desarollo la medicina para
          combatir en parte a las enfermedades y a desarollado antibiticos,
          antivirales y su arma mas poderosa las vacunas
        </p>
        <h2>Sitema inmunitario</h2>
        <p>
          Antes de adentrarnos a las armas creadas artificialmente debemos
          conocer el sistema natural que usamos por mileños para poder
          defendernos de las mortiferas enfermedades.
        </p>
        <p>
          El sistema inmunitario es una compleja red de células, tejidos y
          órganos. Juntos ayudan a su cuerpo a combatir infecciones y otras
          enfermedades. El sistema inmunitario tiene muchas partes diferentes,
          incluyendo: Su piel, globulos blancos, Órganos y tejidos del sistema
          linfático El sistema inmunitario defiende su cuerpo contra sustancias
          que considera dañinas o extrañas Estas sustancias se llaman antígenos.
          Pueden ser gérmenes como bacterias y virus; o sustancias químicas o
          toxinas. Cuando su sistema inmunitario reconoce un antígeno, lo ataca.
          A esto se le llama respuesta inmune. Esto sera de
          <strong>suma importancia en las vacunas</strong>
        </p>
        <h2>Antibioticos</h2>
        <p>
          Un antibiótico, considerando la etimología1​ (del griego ἀντι anti,
          ‘opuesto’ o ‘con propiedades contrarias​ y el latín tardío biotĭcus
          ‘de la vida ordinaria’, y este del griego βιωτικός biotikós, ‘de los
          seres vivos’ o ‘de la vida’3​), es una sustancia química producida por
          un ser vivo o derivado sintético, que mata o impide el crecimiento de
          ciertas clases de microorganismos sensibles. Generalmente, son
          fármacos usados en el tratamiento de infecciones por bacterias, de
          allí que se les conozca como antibacteriano.
        </p>
        <h3>Funcionamiento</h3>
        <p>
          Existen varias maneras de que los antibioticos atacan a las bacterias
          y estan ueden ser eficaces o no dependiendo de la bacteria a la que se
          ataque
          <br />
          <br />
          Una de las maneras mas comunes son destruyendo la pared celular de las
          bacterias liberando moluculas que se unen a proteinas de la bacterias
          que impidiendo que puedan renovar su pared celular y inevitablemente
          mueran un ejemplo de esto seria la <b>penicilina</b>
          <br />
          Las otras maneras son basicamente lo mismo solo que las moleculas
          actuan en otras cosas de las bacterias como el adn, arn lo cual hace
          que las bacterias no puedan sistentizar las proteinas necesarias para
          sobrevivir y por lo tanto muere. antibioticos que actuan de esta
          manera son las sulfamidas
          <br />
          Otra manera es que esas moleculas bloquen los ribosomas que son los
          responsables de la sintetizacion de las proteinas lo cual hace que la
          bacteria muera tarde o temprano
        </p>
        <h3>Abuso</h3>
        <p>
          Lamentablemente por medio de diferentes industrias como la de la carne
          se a a hecho un abuso de los antibioticos al darselo al ganado aun
          cuando no tienen ninguna enfermedad solo como forma de prenvension y
          no de tratamiento ademas de la poca higiene y la facilidad de saltar
          que tiene las enfermedades en esos lugares por lo que se crea un
          generador perfecto de bacterias super resistentes, las cuales son
          bacterias las cuales son inmunes a los antibioticos debido a su
          mutacion constante de genes al reproducirsee y exponerse a lso
          antibioticos en lugares como la industria de la carne (Mas informacion
          en
          <a href="evolution.html">Evolucion</a>)
        </p>
        <h2>Vacunas</h2>
        <p>
          Las vacunas usan la habilidad de nuestro sistema inmune de poder
          reconocer y recordar antigenos (explicado en la seccion de sistema
          inmunitario mas arriba) para poder volvernos inmunes a las
          enfermedades esto permite que al llegar al 70% de un grupo vacunado el
          virus deja de poder saltar con facilidad y al no poder pasar por los
          vacuanados a los que no y finalmente deja de circular, esto sumado a
          su facilidad de lograr que los que la usan puedan superar enfermedades
          mortales como si nada las hace la mejor arma contra las enfermedades
          de la humanidad
        </p>
        <div class="accordion accordion-flush" id="accordionFlushExample">
          <div class="accordion-item">
            <h2 class="accordion-header" id="flush-headingOne">
              <button
                class="accordion-button collapsed"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#flush-collapseOne"
                aria-expanded="false"
                aria-controls="flush-collapseOne"
              >
                Como funcionan las vacunas?
              </button>
            </h2>
            <div
              id="flush-collapseOne"
              class="accordion-collapse collapse"
              aria-labelledby="flush-headingOne"
              data-bs-parent="#accordionFlushExample"
            >
              <div class="accordion-body">
                <p>
                  Normalmente una vacuna contiene un agente que se asemeja a un
                  microorganismo causante de la enfermedad y a menudo se hace a
                  partir de formas debilitadas o muertas del microbio, sus
                  toxinas o una de sus proteínas de superficie. El agente
                  estimula el sistema inmunológico del cuerpo a reconocer al
                  agente como una amenaza, destruirla y guardar un registro de
                  este, de modo que el sistema inmune puede reconocer y destruir
                  más fácilmente cualquiera de estos microorganismos que
                  encuentre más adelante.
                </p>
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header" id="flush-headingTwo">
              <button
                class="accordion-button collapsed"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#flush-collapseTwo"
                aria-expanded="false"
                aria-controls="flush-collapseTwo"
              >
                Avanzes de la humanidad con las vacunas
              </button>
            </h2>
            <div
              id="flush-collapseTwo"
              class="accordion-collapse collapse"
              aria-labelledby="flush-headingTwo"
              data-bs-parent="#accordionFlushExample"
            >
              <div class="accordion-body">
                <p>
                  Las vacunas al ser el mejor arma de la humanidad en contra de
                  las enfermedades han servido mucho para esta primera. La
                  vacunación, junto a la potabilización del agua, son los hitos
                  con impacto más significativo en Salud Pública en la historia
                  de la humanidad para la prevención de enfermedades y
                  crecimiento de la población.Se estima que las vacunas evitan,
                  actualmente y a nivel mundial, más de 2,5 millones de muertes
                  de niños al año.
                </p>
                <p>
                  Ademas de lograr la erradicacion de la viruela en el mundo. la
                  restriccion de enfermedades en el mundo como la poliomielitis,
                  el sarampion y tetanos.
                </p>
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header" id="flush-headingThree">
              <button
                class="accordion-button collapsed"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#flush-collapseThree"
                aria-expanded="false"
                aria-controls="flush-collapseThree"
              >
                Deberiamos confiar en las vacunas?
              </button>
            </h2>
            <div
              id="flush-collapseThree"
              class="accordion-collapse collapse"
              aria-labelledby="flush-headingThree"
              data-bs-parent="#accordionFlushExample"
            >
              <div class="accordion-body">
                <p>
                  las vacunas han sido difamadas a la alargo de la historia
                  reciente por los movimientos anti vacuna, pero como ya te
                  puede esperar estos no tienen ningun fundamento
                  <br /><br />
                  Por ejemplo se suele decir que se a comprobado cientificamente
                  que las vacunas generan autismo debido a que lo vieron en un
                  estudio de lancet, pero ademas de que se necesitan mas de un
                  estudio para poder verificar algo, el estudio de lancet que
                  decia poder relacionar los casos de autismo con las vacunas a
                  sido desmintido Tambien han habido teorias sin sustento de que
                  las vacunas llevaban chips desarollados por bill gates. Hay
                  videos que explican mucho mejor que lo puede hacer esta pagina
                  y por eso enlazare dos videos que aclaran muchas dudas sobre
                  las vacunas <br />
                  <a href="https://www.youtube.com/watch?v=4gDqXLguiBw" target="_blank"
                    >Primer video</a
                  >
                  <a href="https://youtu.be/YwSCon6a2lI" target="_blank">Segundo video</a>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
