<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../css/index.css" />
    <link rel="shortcut icon" href="../fav.png" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />
    <script
      src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"
      integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js"
      integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF"
      crossorigin="anonymous"
    ></script>
    <title>Evolucion</title>
  </head>
  <body>
    <nav>
      <div class="logo">
        <a href="index.html"
          ><img src="../fav.png" alt="" height="60px" weight="60px"
        /></a>
      </div>
      <input type="checkbox" id="click" />
      <label for="click" class="menu-btn">
        <i class="fas fa-bars"></i>
      </label>
      <ul>
        <li><a class="" href="index.html">Home</a></li>
        <li><a href="pandemia.html">Pandemias</a></li>
        <li><a href="epidemias.html">Epidemias</a></li>
        <li><a href="antibiotics.html">Armas contra las enfermedades</a></li>
        <li>
          <a href="evolution.html" class="active">Evolucion</a>
        </li>
      </ul>
    </nav>
    <div class="content">
      <div class="realcontent">
        <h1>La evolucion de las enfermedades explicada</h1>
        <p>
          Las enfermedades al igual que nuestras celulas al multiplicarse existe
          la posibilidad de que se escriba mal el codigo genetico <br />
          Esto genera mutaciones en los virus y bacterias las cuales siguiendo
          las reglas de la seleccion natural dependiendo de si es util o no para
          la enfermedad podra sobrevivir, si es util podra reproducirse y pasar
          sus genes o si no morira sin poder pasarlos
        </p>
        <p>
          Esto se explota en lugares como la industria ganera donde se hace un
          abuso de los <a href="antibiotics.html">antibiticos</a>, y debido a la
          baja higiene se genera un lugar donde la enfermedad se puede
          reproducir facilmente y probarse asi misma con los antibioticos, y
          llegara un momento en el que debido las mutaciones geneticas en el
          cual la enfermedad sera inmune a los antibioticos y se reproducira
        </p>
        <p>
          Estas bacterias hasta ahora han podido ser tratadas experimentalmente
          con los bacteriofagos, los cuales son virus especializados en asesinar
          bacterias y la mayoria de las bacterias resitentes a los antibioticos
          no se pueden defender a ellos y si pueden dejan atras su resistencia a
          los antibioticos <br />
          Existe un muy buen video el cual habla sobre este mismo problema el
          cual conlleva la evolucion de las enfermedades
          <a href="https://www.youtube.com/watch?v=NmT-KCK4iw8"
            >El apocalipsis del los antibióticos explicado</a
          >
        </p>
        <p>
          Esta misma evolucion ademas de afectar las bacterias tambien afectan a
          los virus de los cuales pueren aparecer nuevas "cepas" las cuales en
          algunos casos puede dejar casi o totalmente inutilizada una vacuna
          nuestra mejor arma, es por eso que se toman medidas como el
          distanciamiento social y la cuarentena para evitar la transmision del
          virus y que por lo tanto mute (explicado de mejor manera en <a href="pandemia.html">Pandemias</a>)
        </p>
      </div>
    </div>
  </body>
</html>
