<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../css/index.css" />
    <link rel="shortcut icon" href="../fav.png" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />
    <script
      src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"
      integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js"
      integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF"
      crossorigin="anonymous"
    ></script>
    <link rel="stylesheet" href="../css/index.css" />
    <title>Pandemias</title>
  </head>
  <body>
    <nav>
      <div class="logo">
        <a href="index.html"
          ><img src="../fav.png" alt="" height="60px" weight="60px"
        /></a>
      </div>
      <input type="checkbox" id="click" />
      <label for="click" class="menu-btn">
        <i class="fas fa-bars"></i>
      </label>
      <ul>
        <li><a class="" href="index.html">Home</a></li>
        <li><a href="pandemia.html" class="active">Pandemias</a></li>
        <li><a href="epidemias.html">Epidemias</a></li>
        <li><a href="antibiotics.html">Armas contra las enfermedades</a></li>
        <li><a href="evolution.html">Evolucion</a></li>
      </ul>
    </nav>
    <div class="content">
      <div class="realcontent">
        <div class="accordion accordion-flush" id="accordionFlushExample">
          <div class="accordion-item">
            <h2 class="accordion-header" id="flush-headingOne">
              <button
                class="accordion-button collapsed"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#flush-collapseOne"
                aria-expanded="false"
                aria-controls="flush-collapseOne"
              >
                Que es una pandemia?
              </button>
            </h2>
            <div
              id="flush-collapseOne"
              class="accordion-collapse collapse"
              aria-labelledby="flush-headingOne"
              data-bs-parent="#accordionFlushExample"
            >
              <div class="accordion-body">
                Una pandemia es una epidemia de una enfermedad infecciosa que se
                ha propagado en un área geográficamente extensa, por ejemplo, en
                varios continentes o en todo el mundo, afectando a un número
                considerable de personas. ( Mas informacion en
                <a alt="epidemias" href="epidemias.html"> Epidemias </a>)
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header" id="flush-headingTwo">
              <button
                class="accordion-button collapsed"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#flush-collapseTwo"
                aria-expanded="false"
                aria-controls="flush-collapseTwo"
              >
                Pandemias Historicas
              </button>
            </h2>
            <div
              id="flush-collapseTwo"
              class="accordion-collapse collapse"
              aria-labelledby="flush-headingTwo"
              data-bs-parent="#accordionFlushExample"
            >
              <div class="accordion-body">
                A lo largo de la historia de la humanidad, ha habido una serie
                de pandemias de enfermedades como la viruela. La pandemia más
                fatal en la historia registrada fue la Peste Negra (también
                conocida como La Peste) <br />
                La peste negra comenzó en el siglo XIV. Ochocientos años tras el
                último brote, la peste bubónica volvía a Europa. Comenzando en
                Asia, la enfermedad alcanzó el Mediterráneo y Europa occidental
                en 1348 (posiblemente llevada por mercaderes italianos que huían
                de la guerra en Crimea), y mató a veinte millones de europeos en
                seis años, una cuarta parte de la población total y hasta la
                mitad en las zonas urbanas más afectadas.
                <br />
                Otra pandemia devastadora fue la gripe española (1918-1919).
                Comenzó en marzo de 1918 en Fort Riley, Kansas, Estados Unidos.
                Una grave y mortífera cepa de gripe se expandió por el mundo. La
                enfermedad mató a 25 millones de personas en el curso de seis
                meses; algunos estiman el total de muertos en todo el mundo en
                más del doble de ese número. De ellos, se calculan en torno a
                10-17 millones de fallecidos en la India británica, 600.000 en
                los Estados Unidos, 400.000 en Francia y en Italia, 250.000 en
                Reino Unido y 200.000. Ademas su propagacion aumento gracias a
                la guerra de trincheras carracteristica de la primera guerra
                mundial
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header" id="flush-headingThree">
              <button
                class="accordion-button collapsed"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#flush-collapseThree"
                aria-expanded="false"
                aria-controls="flush-collapseThree"
              >
                Como luchar contra un pandemia
              </button>
            </h2>
            <div
              id="flush-collapseThree"
              class="accordion-collapse collapse"
              aria-labelledby="flush-headingThree"
              data-bs-parent="#accordionFlushExample"
            >
              <div class="accordion-body">
                <p>
                  Debido a nuestras anteriores experiencias con pandemias
                  letales como la peste negra y al avanze de la tecnologia
                  logramos desarollar medidas para enfretarnos a una pandemia,
                  por ejemplo la cuarentena la cual fue una medida en contra de
                  la peste negra dejando a los barcos en el puerto durante
                  cuarenta dias para ver si presentaban sintoma de la enfermedad
                </p>
                <p>
                  Otras medidas tomadas gracias al avanze de la tecnologia y
                  tomadas recientemente por la pandemia del COVID-19 son l
                  distanciamiento social y las mascarillas las cuales evitan la
                  transmision del virus el primero evitando estar cerca del
                  infectado para que el virus no pueda saltar y el segundo para
                  parar al virus intruso antes de que entre a nuestro cuerpo y
                  cuando sale de nuestro cuerpo. Pero aun asi con estas medidas
                  no es suficiente para parar una pandemia para parar una es
                  necesario el uso de estrategias ofensivas como los
                  antibioticos, antivirales las vacunas (mas informacion en
                  <a href="antibiotics.html">Armas contra las enfermedades</a>)
                </p>
                
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script src="../js/index.js"></script>
  </body>
</html>
